<html>
<head>
    <title>Home</title>
</head>
<body>
<tbody>
##    #if($!categoryVoList && categoryVoList.size()>0)
      #foreach($categoryVo in $categoryVoList)

          <table border="1">
              <tr>
                  <td>$!categoryVo.categoryName</td>
##                  <td><a href="$!websiteVo.url">$!websiteVo.title</a></td>


              </tr>

          </table>

      #end

##    #end


</tbody>

<h1>
    Hello world!
</h1>

<P> The time on the server is $serverTime. </P>
</body>
</html>