<html>
<head>
    <title>Home</title>
##    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <style type="text/css">
        .tit {
            float: left;
            font-size: 18px;
            font-family: "microsoft yahei";
            width: 80px;
            font-weight: bold;
            height: 35px;
            line-height: 35px;
            color: #51187D;
            text-align: center;

        }

        .content {
            text-align: center;
            font-family: "microsoft yahei";
            margin-top: 150px;
            margin-left: 150px;
        }

        .font_direc {
            font-size: 18px;
            color: #51187D;
        }


    </style>
</head>
<body>
<table class="content">
##    <tr>
##        <td colspan="2" style="background-color:#99bbbb;">
##            <h1>split...</h1>
##        </td>
##    </tr>

    <tr">
##        <td style="background-color:#ffff99;text-align:top;">
##            <b>π˘æ∏</b><br/>
##            —Óøµ<br/>
##            ¿œÕ∑<br/>
##            ÕÍ—’∫È¡“
##        </td>
        <td style="background-color:#EEEEEE;text-align:top;">
            <table>
                #if($websites && $websites.size()>0)
                    #foreach($website in $websites)
                        <tr>$!website.title</tr>
                        #if($website.children && $website.children.size()>0)
                            #foreach($child in $website.children)
                                <tr>
                                    <td> $child.title</td>

                                    #if($child.websiteVos && $child.websiteVos.size()>0)
                                        <td>
                                            #foreach($site in $child.websiteVos)
                                                <a href="$site.url" target="_blank">$site.title</a>
                                            #end
                                        </td>
                                    #end
                                </tr>
                            #end
                        #end
                    #end
                #end
            </table>
        </td>
    </tr>
    <tr>

    </tr>

##    <tr>
##        <td colspan="2" style="background-color:#99bbbb;text-align:center;">
##            website.afengzi.com.cn
##        </td>
##    </tr>
</table>


</body>
</html>